.loading {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.progress-bar {
    height: 3rem;
    width: 50rem;
    margin: 1rem 0;
    display: flex;
    align-items: center;
    padding: 1.5rem .5rem;
    background-color: white;
    border-radius: 2rem;
    box-shadow: inset 0 1px 3px rgba(20, 20, 20, 0.25), 0 3px rgba(73, 72, 72, 0.08);

    @media (min-width: 320px) and (max-width: 480px) {
        width: 35rem;
    }

    & span {
        position: relative;
        height: 2rem;
        width: 5rem;
        border-radius: 1rem 0 0 1rem;
        overflow: hidden;
        background-color: #5dcbf3;
        background-size: 100%;
        background-image: linear-gradient((45deg,  0%, rgba(10, 157, 211, 1) 86.6%,  100%));     
        animation: progress-bar 4s infinite linear;

        &::after {
            position: absolute;
            content: "";
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-size: 2rem 2rem;
            background-image: linear-gradient(45deg, #00b7ee 25%,
                                            rgba(0, 0, 0, 0) 25%,
                                            rgba(0, 0, 0, 0) 50%,
                                            #00b7ee 50%,
                                            #00b7ec 75%,
                                            rgba(0, 0, 0, 0) 75%,
                                            rgba(0, 0, 0, 0));
            opacity: 0.5;
            animation: progress-bar-inside 0.5s infinite linear;
        }
    }

}

.loading__logo {
    max-width: 70%;
    height: auto;

    @media (min-width: 320px) and (max-width: 480px) {
        width: 60%;
    }
}

@keyframes progress-bar {
    0% {
        width: 20%;
    }
    100% {
        width: 100%;
    }
}

@keyframes progress-bar-inside {
    0% {
        background-position: 0 100%;
    }

    100% {
        background-position: 2rem 100%;
    }
}

@keyframes show {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}